.checkboxes {
  width: calc(100% - 15rem);
  display: grid;
}

.checkboxes .checkbox {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .checkboxes {
    width: 100%;
    justify-content: space-around;
    border-top: 2px solid rgb(235, 235, 235);
    padding: 1rem 0;
  }
}
